-- Convert all primary key id columns from TEXT to VARCHAR(32)
-- Use USING to cast data in place without dropping constraints
ALTER TABLE "ab_test_variants" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "account_ranks" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "account_signals" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "accounts" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "activation_events" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "activity_logs" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "agent_approvals" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "agent_coaching" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "agent_definitions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "agent_runs" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "api_keys" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "app_settings" ALTER COLUMN "key" TYPE VARCHAR(32) USING "key"::VARCHAR(32);
ALTER TABLE "automation_audit_logs" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "availability_rules" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "booking_links" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "commissions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "contacts" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "conversation_messages" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "conversations" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "custom_field_definitions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "custom_field_values" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "deal_qualifications" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "deal_queues" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "deal_stages" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "deals" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "document_templates" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "email_suppressions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "evidence_reviews" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "external_calendar_events" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "follow_up_sequences" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "follow_up_tasks" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "generated_documents" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "integration_connections" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "integration_mappings" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "lead_monitoring" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "lead_routing_rules" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "leads" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "meeting_slots" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "meetings" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "oauth_sessions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "opportunities" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "outbound_webhooks" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "outcome_graph_edges" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "outcome_graph_nodes" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "pack_items" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "pitch_events" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "pitch_templates" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "pitches" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_actions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_approvals" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_attributions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_branches" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_conditions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_packs" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_steps" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_test_runs" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbook_versions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "playbooks" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "qualification_criterions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "qualification_playbooks" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "qualification_stages" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "queue_items" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "relationships" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "send_time_optimizations" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "sequence_ab_tests" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "sequence_delivery_windows" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "sequence_execution_logs" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "sequence_executions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "sequence_sender_rotations" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "sequence_steps" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "sequence_versions" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "signals" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "step_level_analytics" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "team_booking_members" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "team_booking_pages" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "timeline_entries" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "unsubscribe_links" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "users" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "webhook_receipts" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "workload_caps" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "workspace_learning_profiles" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);
ALTER TABLE "workspace_thresholds" ALTER COLUMN "id" TYPE VARCHAR(32) USING "id"::VARCHAR(32);

-- Convert JSON string columns to native JSONB
ALTER TABLE "leads" ALTER COLUMN "enrichmentData" TYPE JSONB USING "enrichmentData"::JSONB;
ALTER TABLE "account_ranks" ALTER COLUMN "evidence" TYPE JSONB USING "evidence"::JSONB;
ALTER TABLE "deal_qualifications" ALTER COLUMN "evidence" TYPE JSONB USING "evidence"::JSONB;
